<div class="app-area">
	<div class="mdl-grid">
		<div class="mdl-cell mdl-cell--1-col menu pull-right">
			<button type="button" class="mdl-button mdl-button--icon mdl-js-button"><i class="material-icons md-dark">search</i></button>
			<button type="button" class="mdl-button mdl-button--icon mdl-js-button"><i class="material-icons md-dark md-inactive">school</i></button>
			<button type="button" class="mdl-button mdl-button--icon mdl-js-button"><i class="material-icons md-dark md-inactive">settings</i></button>
			<button type="button" class="mdl-button mdl-button--icon mdl-js-button"><i class="material-icons md-dark md-inactive">info_outline</i></button>
		</div>


		<div class="mdl-cell mdl-cell--4-col query">

			<div class="filter">

				<div class="mdl-grid dept-select">

					<div class="mdl-card mdl-shadow--2dp mdl-cell--12-col">
						<div class="mdl-card__title">
							<h6 class="mdl-card__title-text">系所選擇</h6>
						</div><!-- card title -->

						<div class="mdl-card__actions mdl-card--border" id="dept-list">
							<div id="dept-list-containter" class="mdl-grid">
								<div class="mdl-cell--6-col" id="dept-list-college">
									<ul>
										<li>
											<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="college-1">
												<input type="checkbox" id="college-1" class="mdl-checkbox__input" />
												<span class="mdl-checkbox__label">工學院</span>
											</label>
										</li>
									</ul>
								</div><!-- college -->
								<div class="mdl-cell--6-col" id="dept-list-dept">
									<ul>
										<li>
											<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="dept-1">
												<input type="checkbox" id="dept-1" class="mdl-checkbox__input" />
												<span class="mdl-checkbox__label">機械系</span>
											</label>
										</li>
									</ul>
								</div><!-- dept -->
							</div><!-- dept-list -->
						</div><!-- card actions -->

						<div class="mdl-card__menu">
							<button class="mdl-button mdl-button--icon mdl-js-button" id="toggle-dept">
								<i class="material-icons">expand_less</i>
							</button>
						</div><!-- care menu -->
					</div><!-- care -->
				</div><!-- dept select -->

				<div class="mdl-grid search">
					<div class="mdl-card mdl-shadow--2dp mdl-cell--6-col">
						<div class="mdl-card__actions">
							<input class="text-field" type="text" id="courseName"  placeholder="課程名稱"/>
						</div>
					</div><!-- card -->

					<div class="mdl-card mdl-shadow--2dp mdl-cell--6-col">
						<div class="mdl-card__actions">
							<input class="text-field" type="text" id="teacherName"  placeholder="教師名稱"/>
						</div>
					</div><!-- card -->
				</div><!-- search -->

			</div>

			<div class="result">

			</div>

		</div>


		<div class="mdl-cell mdl-cell--7-col timetable">
			<div class="mdl-grid">
				<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
					<thead>
						<tr>
							<th class="period"></th>
							<th>MON</th>
							<th>TUE</th>
							<th>WED</th>
							<th>THU</th>
							<th>FRI</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th class="period">1</th>
							<td class="td-1"></td>
							<td class="td-2"></td>
							<td class="td-3"></td>
							<td class="td-4"></td>
							<td class="td-5"></td>
						</tr>
						<tr>
							<th class="period">2</th>
							<td class="td-1"></td>
							<td class="td-2"></td>
							<td class="td-3"></td>
							<td class="td-4"></td>
							<td class="td-5"></td>
						</tr>
						<tr>
							<th class="period">3</th>
							<td class="td-1"></td>
							<td class="td-2"></td>
							<td class="td-3"></td>
							<td class="td-4"></td>
							<td class="td-5"></td>
						</tr>
						<tr>
							<th class="period">4</td>
							<td class="td-1"></td>
							<td class="td-2"></td>
							<td class="td-3"></td>
							<td class="td-4"></td>
							<td class="td-5"></td>
						</tr>
						<tr>
							<th class="period">N</th>
							<td class="td-1"></td>
							<td class="td-2"></td>
							<td class="td-3"></td>
							<td class="td-4"></td>
							<td class="td-5"></td>
						</tr>
						<tr>
							<th class="period">5</th>
							<td class="td-1"></td>
							<td class="td-2"></td>
							<td class="td-3"></td>
							<td class="td-4"></td>
							<td class="td-5"></td>
						</tr>
						<tr>
							<th class="period">6</th>
							<td class="td-1"></td>
							<td class="td-2"></td>
							<td class="td-3"></td>
							<td class="td-4"></td>
							<td class="td-5"></td>
						</tr>
						<tr>
							<th class="period">7</th>
							<td class="td-1"></td>
							<td class="td-2"></td>
							<td class="td-3"></td>
							<td class="td-4"></td>
							<td class="td-5"></td>
						</tr>
						<tr>
							<th class="period">8</th>
							<td class="td-1"></td>
							<td class="td-2"></td>
							<td class="td-3"></td>
							<td class="td-4"></td>
							<td class="td-5"></td>
						</tr>
						<tr>
							<th class="period">9</th>
							<td class="td-1"></td>
							<td class="td-2"></td>
							<td class="td-3"></td>
							<td class="td-4"></td>
							<td class="td-5"></td>
						</tr>
						<tr>
							<th class="period">A</th>
							<td class="td-1"></td>
							<td class="td-2"></td>
							<td class="td-3"></td>
							<td class="td-4"></td>
							<td class="td-5"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
