<div class="app-area">
	<div class="row">
		<div class="col menu pull-right">
			<a class="btn-flat"><i class="material-icons">search</i></a>
			<a class="btn-flat"><i class="material-icons">school</i></a>
			<a class="btn-flat"><i class="material-icons">settings</i></a>
			<a class="btn-flat"><i class="material-icons">info_outline</i></a>
		</div>


		<div class="col s4 query">

			<div id="filter">

				<div class="row" id="dept-select">

					<div class="card col s12">

						<div class="card-content" id="dept-list">
							<a class="btn-flat" id="toggle-dept"><i class="material-icons">expand_less</i></a>
							<span class="black-text">系所選擇</span>

							<div id="dept-list-containter">

								<div class="col s6" id="dept-list-college">
									<ul>
										<li>
											<input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" />
      								<label for="filled-in-box">工學院</label>
										</li>
									</ul>
								</div><!-- college -->

								<div class="col s6" id="dept-list-dept">
									<ul>
										<li>
											<input type="checkbox" class="filled-in" id="filled-in-box2" checked="checked" />
      								<label for="filled-in-box2">機械系</label>
										</li>
									</ul>
								</div><!-- dept -->

							</div><!-- dept-list -->
						</div><!-- card-content -->



					</div><!-- care -->
				</div><!-- dept select -->

				<div class="row" id="search">
					<div class="card col s12">
						<div class="card-content">
							<div class="input-field col s6">
			          <input id="course_name" type="text" class="validate">
			          <label for="course_name">課程名稱</label>
			        </div>
			        <div class="input-field col s6">
			          <input id="teacher_name" type="text" class="validate">
			          <label for="teacher_name">教師名稱</label>
			        </div>
						</div>
					</div><!-- card -->
				</div><!-- search -->

			</div>

			<div id="result">
				<ul>
					<li>
						<div class="card col s12">
							<div class="card-content">

								<div class="row">
									<div class="result-title">
										<b>E1-999 機械設計</b>
										<a class="btn waves-effect more-info">
											MORE
										</a>
										<a class="btn-flat waves-effect add-to-table">
											<i class="material-icons">add</i>
										</a>
									</div>
								</div>

								<div class="row">
									<div class="col s6">
										<ul>
											<li><b>教師: </b>吳俊煌</li>
											<li><b>時間: </b>[5]1~2</li>
										</ul>
									</div>
									<div class="col s6">
										<ul>
											<li><b>年級: </b>3</li>
											<li><b>餘額: </b>0</li>
										</ul>
									</div>
								</div>

							</div>
						</div><!-- card -->
					</li>
				</ul>
			</div><!-- result -->

		</div>


		<div class="col s7 timetable">
			<div class="card">
				<table>
					<thead>
						<tr>
							<th class="reset">
								<a class="btn-flat waves-effect" id="reset">RESET</a>
							</th>
							<th class="td-1h">MON</th>
							<th class="td-2h">TUE</th>
							<th class="td-3h">WED</th>
							<th class="td-4h">THU</th>
							<th class="td-5h">FRI</th>
						</tr>
					</thead>
					<tbody>
						<tr class="tr-1">
							<th class="period">1</th>
							<td class="td-1"></td>
							<td class="td-2"></td>
							<td class="td-3"></td>
							<td class="td-4"></td>
							<td class="td-5"></td>
						</tr>
						<tr class="tr-2">
							<th class="period">2</th>
							<td class="td-1"></td>
							<td class="td-2"></td>
							<td class="td-3"></td>
							<td class="td-4"></td>
							<td class="td-5"></td>
						</tr>
						<tr class="tr-3">
							<th class="period">3</th>
							<td class="td-1"></td>
							<td class="td-2"></td>
							<td class="td-3"></td>
							<td class="td-4"></td>
							<td class="td-5"></td>
						</tr>
						<tr class="tr-4">
							<th class="period">4</td>
							<td class="td-1"></td>
							<td class="td-2"></td>
							<td class="td-3"></td>
							<td class="td-4"></td>
							<td class="td-5"></td>
						</tr>
						<tr class="tr-N">
							<th class="period">N</th>
							<td class="td-1"></td>
							<td class="td-2"></td>
							<td class="td-3"></td>
							<td class="td-4"></td>
							<td class="td-5"></td>
						</tr>
						<tr class="tr-5">
							<th class="period">5</th>
							<td class="td-1"></td>
							<td class="td-2"></td>
							<td class="td-3"></td>
							<td class="td-4"></td>
							<td class="td-5"></td>
						</tr>
						<tr class="tr-6">
							<th class="period">6</th>
							<td class="td-1"></td>
							<td class="td-2"></td>
							<td class="td-3"></td>
							<td class="td-4"></td>
							<td class="td-5"></td>
						</tr>
						<tr class="tr-7">
							<th class="period">7</th>
							<td class="td-1"></td>
							<td class="td-2"></td>
							<td class="td-3"></td>
							<td class="td-4"></td>
							<td class="td-5"></td>
						</tr>
						<tr class="tr-8">
							<th class="period">8</th>
							<td class="td-1"></td>
							<td class="td-2"></td>
							<td class="td-3"></td>
							<td class="td-4"></td>
							<td class="td-5"></td>
						</tr>
						<tr class="tr-9">
							<th class="period">9</th>
							<td class="td-1"></td>
							<td class="td-2"></td>
							<td class="td-3"></td>
							<td class="td-4"></td>
							<td class="td-5"></td>
						</tr>
						<tr class="tr-A">
							<th class="period">A</th>
							<td class="td-1"></td>
							<td class="td-2"></td>
							<td class="td-3"></td>
							<td class="td-4"></td>
							<td class="td-5"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>
</div>
