// Place all the styles related to the query controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.app-area{
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
	bottom:0;
	left:0;
	right:0;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

.row{
	
}

.menu{
	
}

.query{
	.filter{
		width: 100%;
		.dept-select{
			.mdl-card{
				margin: 0px 8px;
				min-height: 30px;
				.mdl-card__title-text{
					font-size: 16px;
				}
				#toggle-dept{
					height: 16px;
					width: 16px;
					min-width: 16px;
					&:hover{
						background-color: transparent;
					}
				}
				.mdl-card__actions{
					ul{
						list-style-type: none;
					}
					#dept-list-containter{
						height: 100%;
						padding: 0px;
						#dept-list-college{
							border-right: 1px solid rgba(0, 0, 0, 0.1);
						}
					}
				}
			}
		}
		.search{
			.mdl-card{
				margin: 0px 8px;
				min-height: 30px;
				.text-field{
					width: 100%;
					border: 0px;
					font-size: 1em;
				}
			}
		}
	}
}

.timetable{
	table{
		height: 95%;
		width: 100%;
		.period{
			width: 1em;
		}
		thead{
			tr{
				th{
					height: 40px;
				}
			}
		}
		tbody{
			tr{
				&:hover{
					background-color: transparent;
				}
				td{
					border-right: 1px solid rgba(0, 0, 0, 0.12);
					border-left: 1px solid rgba(0, 0, 0, 0.12);
				}
			}
		}
	}
}

.pull-right {
  text-align: right;
}

ul{
	padding-left: 10px;
}

.mdl-grid{
	height: 100%;
}